Mine2CraftWinApp/Connected Services/CompleteItemService/CompleteItemService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57660/CompleteItemService/CompleteItemService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mine2CraftWebApp.CompleteItem" />
  <xs:element name="GetCompleteItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompleteItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mine2CraftWebApp.CompleteItem" minOccurs="0" name="GetCompleteItemsResult" nillable="true" type="q1:ArrayOfCompleteItemDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCompleteItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="durability" type="xs:int" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCompleteItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mine2CraftWebApp.CompleteItem" minOccurs="0" name="CreateCompleteItemResult" nillable="true" type="q2:ArrayOfCompleteItemDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompleteItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Mine2CraftWebApp.CompleteItem" minOccurs="0" name="completeItemDto" nillable="true" type="q3:CompleteItemDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompleteItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Mine2CraftWebApp.CompleteItem" minOccurs="0" name="DeleteCompleteItemResult" nillable="true" type="q4:ArrayOfCompleteItemDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>