Mine2CraftWinApp/Connected Services/CompleteItemService/CompleteItemService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mine2CraftWebApp.CompleteItem" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mine2CraftWebApp.CompleteItem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57660/CompleteItemService/CompleteItemService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfCompleteItemDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompleteItemDto" nillable="true" type="tns:CompleteItemDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompleteItemDto" nillable="true" type="tns:ArrayOfCompleteItemDto" />
  <xs:complexType name="CompleteItemDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Durability" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompleteItemDto" nillable="true" type="tns:CompleteItemDto" />
</xs:schema>