Mine2CraftWinApp/Connected Services/CompleteItemService/CompleteItemService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CompleteItemService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57660/CompleteItemService/CompleteItemService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57660/CompleteItemService/CompleteItemService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57660/CompleteItemService/CompleteItemService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mine2CraftWebApp.CompleteItem" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICompleteItemService_GetCompleteItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompleteItems" />
  </wsdl:message>
  <wsdl:message name="ICompleteItemService_GetCompleteItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompleteItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ICompleteItemService_CreateCompleteItem_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCompleteItem" />
  </wsdl:message>
  <wsdl:message name="ICompleteItemService_CreateCompleteItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCompleteItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICompleteItemService_DeleteCompleteItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompleteItem" />
  </wsdl:message>
  <wsdl:message name="ICompleteItemService_DeleteCompleteItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompleteItemResponse" />
  </wsdl:message>
  <wsdl:portType name="ICompleteItemService">
    <wsdl:operation name="GetCompleteItems">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompleteItemService/GetCompleteItems" message="tns:ICompleteItemService_GetCompleteItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompleteItemService/GetCompleteItemsResponse" message="tns:ICompleteItemService_GetCompleteItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCompleteItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompleteItemService/CreateCompleteItem" message="tns:ICompleteItemService_CreateCompleteItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompleteItemService/CreateCompleteItemResponse" message="tns:ICompleteItemService_CreateCompleteItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCompleteItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompleteItemService/DeleteCompleteItem" message="tns:ICompleteItemService_DeleteCompleteItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompleteItemService/DeleteCompleteItemResponse" message="tns:ICompleteItemService_DeleteCompleteItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICompleteItemService" type="tns:ICompleteItemService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCompleteItems">
      <soap:operation soapAction="http://tempuri.org/ICompleteItemService/GetCompleteItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCompleteItem">
      <soap:operation soapAction="http://tempuri.org/ICompleteItemService/CreateCompleteItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCompleteItem">
      <soap:operation soapAction="http://tempuri.org/ICompleteItemService/DeleteCompleteItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CompleteItemService">
    <wsdl:port name="BasicHttpBinding_ICompleteItemService" binding="tns:BasicHttpBinding_ICompleteItemService">
      <soap:address location="http://localhost:57660/CompleteItemService/CompleteItemService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>